#wrap {
  background-image: url("sounds/piano.jpg");
  background-size: cover; 
  padding-top: 55px;
  padding-bottom: 200px;
}

* { box-sizing: border-box;
}

html, body {width: auto!important; overflow-x: hidden!important}

h1, h2, h3, h4, h5, p {
  font-family: 'Lora', serif;
}

h2 {
  color: #fe7a47;
}

p {
  color: #fff;
  font-size: large;
  font-weight: 900;
}

.header {
  color: #fe7a47;
  text-align: center;
  padding-bottom: 1%;
}

/* instructions*/
#intro {
  margin-top: 1%;
  padding: 1%;
}

.intro-header {
  padding-bottom: 2%;
  padding-top: 1%;
  text-align: center;
  color: #fff;
}

.level-color {
  color: red;
}

.how {
  color: #d8412f;
  text-align: center;
}

.starting {
  font-size: 1.5em;
  font-weight: bolder;
  color: #1c1c1c;
  text-align: center;
}

/* notes on the start page*/
.change-color {
  color: #00f6ff;
}

.test-instructions {
  text-align: center;
}

.instructions {
  text-align: center;
}

/*icons*/
.fa-music {
  padding-right: 1%;
}

.fa-volume-up {
  padding-left: 1%;
}

/*links*/
.links {
  text-align: center;
  padding-bottom: 2%;
}

.levels-tests {
  padding: 4px;
  font-size: large;
  color: #f5ca99;
  border-radius: .3rem;
  background-color: red;
  box-shadow: 0 2px 6px 0 #000;
  margin-left: 7px;
  margin-right: 7px;
}

.levels-tests:hover {
  color: #fff;
  text-decoration: none;
}

#level {
  /*background-color: #fe7a47;*/
  background-color: #fff;
  color: #000;
}

#level:hover {
  color: red;
}

#cheering {
  margin-left: 5%;
  margin-top: 1%;
}

#notes-route {
  min-height: 98px;
}

.menu {
  text-decoration: none;
  color: white;
  background-color: #fa6e59;
  border: solid #f8a055 3px;
  box-shadow: 0 2px 6px 0 #000;
  border-radius: .2rem;
  font-size: large;
  font-weight: 400;
  padding: 5px;  
}

.menu:hover {
  color: black;
  text-decoration: none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

#klavier {
  height: 298px;
}

#keyboard {
  display: block;
  position: relative;
  width: 70%;
  height: 100%;
  left: 25%;
}

.key {
  position: relative;
  border: solid black 1px;
  border-radius: .3rem;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.btn-light {
  float: left;
  width: 10%;
  height: 100%;
  background-color: white;
  box-shadow: 0 6px 4px 0 black;
}

.btn-light:hover {
  background-color: white;
  border: solid black 1px;
}

.black {
  position: absolute;
  background-color: #2e242c;
  width: 6%;
  height: 60%;
  top: 0;
  z-index: 3;
}

.cis {
  left: 7%;
}

.dis {
  left: 17%;
}

.fis {
  left: 37%;
}

.gis {
  left: 47%;
}

.ais {
  left: 57%;
}

.clicked-key {
  font-size: 4em;
  text-transform: uppercase;
  font-family: fantasy;
  color: #ffdb5c;
  box-shadow: 0 3px 3px 0 #000;
}

.game-over {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Lora' serif;
  color: red;
  opacity: 8;
  font-style: oblique;
}

#staff {
  padding-top: 1%;
}

hr {
  margin: 2%;
  background-color: black;
}


#ledger-line {
  display: block;
  height: 1px;
  border: 0;
  margin-left: 26.4%;
  margin-right: 70%;
}

footer {
  text-align: center;
}

